body {
  width: 950px;
}

* {
  padding: 0;
  margin: 0;
  font: 24px sans-serif;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #a5dc86;
}

#header > h1 {
  position: relative;
  width: 100%;
  font-size: 72px;
  text-align: center;
}

#header > h2 {
  position: relative;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

#clinical_values {
  position: relative;
  top: 0px;
  left: 0px;
  height: 800px;
  margin-top: 40px;
  margin-left: 50px;
}

#clinical_values > img {
  position: absolute;
  left: 300px;
  height: 800px;
}

#clinical_values > h1 {
  font-weight: bold;
  margin-bottom: 5px;
}

form > div {
  width: 15em;
  height: 1.5em;
}

/* .form>form {
    width: 15em;
    height: 1.5em;
} */

form > div > *:nth-child(1) {
  position: absolute;
  left: 0;
  width: 5.6em;
  text-align: right;
}

form > div > input[type="text"] {
  height: 1.2em;
  padding: 0;
  text-align: right;
}

form > div > *:nth-child(2) {
  position: absolute;
  left: 6em;
  width: 3.5em;
}

form > div > *:nth-child(3) {
  position: absolute;
  left: 10em;
  width: 5em;
}

form > div > .radio:nth-child(2) {
  width: 10em;
}

form > div > .radio-toolbar:nth-child(2) {
  width: 10em;
}

.radio > div {
  display: inline-block;
  cursor: pointer;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 0 0.5em;
  height: 1.2em;
  line-height: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.radio-toolbar > label {
  display: inline-block;
  cursor: pointer;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 0 0.5em;
  height: 1.2em;
  line-height: 1.2em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  border-spacing: 0;
  margin-inline: -0.2em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.radio > input:first-of-type {
  border-radius: 4px 0 0 4px;
}

.radio > input:last-of-type {
  border-radius: 0 4px 4px 0;
}

.radio > input.selected {
  background-color: #a5dc86;
  box-shadow: none;
}

.radio-toolbar > label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.radio-toolbar > label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.radio-toolbar > label.selected {
  background-color: #a5dc86;
  box-shadow: none;
}

.radio > div:first-of-type {
  border-radius: 4px 0 0 4px;
}

.radio > div:last-of-type {
  border-radius: 0 4px 4px 0;
}

.radio > div.selected {
  background-color: #a5dc86;
  box-shadow: none;
}

#clinical_values > button {
  position: absolute;
  top: 340px;
  width: 280px;
  left: 30px;
  background-color: #eee;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px black solid;
}

#predict_button {
  position: absolute;
  top: 340px;
  width: 280px;
  left: 30px;
  background-color: #eee;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px black solid;
}

#predict {
  position: absolute;
  top: 340px;
  width: 280px;
  left: 30px;
  background-color: #eee;
  padding: 8px 20px;
  border-radius: 5px;
  border: 1px black solid;
}
#predict:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  /* SET COLOR IN BLACK */
}

#results {
  position: relative;
  top: 180px;
  left: 25px;
  width: 300px;
  font-size: 30px;
  text-align: center;
}

#results #estimate {
  font-size: 60px;
}

#results #error {
  font-size: 40px;
  font-weight: bold;
}

#documentation {
  position: relative;
  width: 100%;
  margin: 20px 0 40px 40px;
}

#documentation h1 {
  font-size: 30px;
  margin-top: 30px;
}

#documentation p {
  font-size: 20px;
  margin-top: 10px;
}

#documentation a {
  font-size: 20px;
}

#documentation em {
  font-size: 20px;
  text-decoration: underline;
}

#documentation img {
  max-width: 950px;
  margin-top: 10px;
}

/* Visual style for neighbor table */

table {
  font-size: 16px;
  margin-top: 10px;
  max-width: 900px;
  border: none;
  border-collapse: collapse;
}

table tr {
  padding: 4px 0;
}

table tr:first-child {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table tr:last-child {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.hidden {
  display: none;
}
